/* Basic styles */
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label.nInput {
  position: relative;
  display: inline-block;
  padding: 0 0.7em;
  height: 1.5em;
  line-height: 1.5;
  cursor: pointer;
  margin: 0;
}
label.nInput::before,
label.nInput::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1.5em;
  height: 1.5em;
}
label.nInput::before {
  content: " ";
  /*border: 2px solid #bdc3c7;*/
  border-radius: 20%;
  background: #D7DCDE;
}
/* Checkbox */
input[type="checkbox"] + label.nInput::after {
  content: "\2714";
  color: #fff;
  line-height: 1.5;
  text-align: center;
}
/* Radio */
input[type="radio"] + label.nInput::before {
  border-radius: 50%;
}
input[type=radio] + label.nInput::after {
  content: " ";
  top: .25em;
  left: .25em;
  width: 1em;
  height: 1em;
  background: #26B99A;
  border: .1em solid #fff;
  border-radius: 50%;
}
/* :checked */
input[type="checkbox"]:checked + label.nInput::before,
input[type="radio"]:checked + label.nInput::before {
  background: #26B99A;
  border-color: #26B99A;
}
input[type="checkbox"] + label.nInput::after,
input[type=radio] + label.nInput::after {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
input[type="checkbox"]:checked + label.nInput::after,
input[type=radio]:checked + label.nInput::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* Transition */
label.nInput::before,
label.nInput::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}